.Upload {
  .ant-page-header-heading span{
    color: #fff !important
  }
  .ant-breadcrumb{
    margin-bottom: 10px;
    .ant-breadcrumb-link{
      color: #fe8c00 !important;
    }
    .ant-breadcrumb-link a,.ant-breadcrumb-separator{
      color: #fff !important;
    }
  }
  .ant-upload-list{
    background-color: #fff;
  }
}

.ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon{
  color: #169c8c !important;
}